:root{
  --bg-dark: #021526;          /* Background dark, primary dark base */
  --bg-medium: #31363F;        /* Background medium, secondary dark tone */
  --text-highlight: cornflowerblue;   /* Text highlight, accent color */
  --primary-light: #EEEEEE;

}
html{
   background-image: linear-gradient( to right ,var(--bg-dark) ,var(--bg-medium), var(--bg-dark));
   font-size: 100%;
   color: var(--primary-light);

}
.container{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
align-items: center;
justify-items: center;
height: 100vh;

display:flex ;
flex-direction: column;
}

  
h1{
  grid-row: 2/3;
  color: var(--primary-light);
  font-size: 5rem;
}

.header-spacial-charts{
  color: var(--text-highlight);
}


.chat-box{
  grid-row: 3/-2;
 

}
.chat-box__output{
 font-size: 1.8rem;
 letter-spacing: .8px;
 line-height: 1.7;
 margin: 1rem ;
 padding: .8rem .9rem;
 border-radius: 8px;
 background-color:var(--bg-dark);
box-shadow: var(--primary-light)  0 0 .3rem; 
}

.chat-box--role{
  color: var(--text-highlight);
}

textarea{
  background-color: var(--bg-medium);
  border: 1px solid var(--primary-light);
  margin: 1rem ;
 padding: .8rem .9rem;
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--primary-light);
 
width: 95%;

}
